<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Alejandro/Documents/java/java_git/WebScrappingMercadoLibre/src/test/java/test">
        <classes>
            <class name="test.TestPrueba">
                <methods>
                    <include name="s1111"/>
                    <include name="s55"/>
                    <include name="s212"/>
                    <include name="s2"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>